*.jar binary
*.nbt binary
*.png binary
*.webp binary
*.zip binary
*.gz binary
*.ogg binary
*.wav binary
*.mp3 binary

*.json text eol=lf
*.snbt text eol=lf
*.js text eol=lf
*.py text eol=lf
*.java text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.toml text eol=lf
*.properties text eol=lf
